


.fixed-bg {
	min-height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.bg01 {
	background-image: url("../img/西井１.jpg");
}

.bg02 {
	background-image: url("../img/ice.jpg");
}

.scroll-bg bg-color01{
	font-family: "Nikkyou Sans";
	text-align:center;

}

.font {
	font-family: "Nikkyou Sans";
	font-size: 50px;
	text-align: center;
	vertical-align: middle;
	font-style: italic;
	color: white;
	vertical-align: middle;

}


.font1 {
	font-family: "Nikkyou Sans";
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	margin:0px;
	height:30px;
	width:100%;
	color:#ffffff;
	vertical-align: middle;

}


.font2 {

        font-style: italic;
        background-color:white;
        color:red;
        font-size:20px;
           writing-mode: vertical-rl;
        text-orientation: upright;
        margin:0;
        padding:0;



}
/*下線けす*/
a {
  text-decoration: none;
}

.menu_font{
	font-family: "Nikkyou Sans";
	font-size: 20px;
	text-align: center;
	vertical-align: middle;

	color: red;
	vertical-align: middle;

}

* {
	margin: 0px;
	padding: 0px;
	header
	{
	background-color
	:
	#7fffd4;
}

h1{
	font-family: "Nikkyou Sans";
}


/*縦文字*/
h2{
        writing-mode: vertical-rl;
        font-style: italic;
        background-color:white;
        color:red;
        font-size:20px;


    }