<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>shopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>


<servlet>
    <servlet-name>SortServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.SortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortServlet</servlet-name>
    <url-pattern>/SortServlet</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>ItemServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.ItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemServlet</servlet-name>
    <url-pattern>/ItemServlet</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>


 <servlet>
    <servlet-name>ManageServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.MangageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageServlet</servlet-name>
    <url-pattern>/ManageServlet</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>RegistMServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.RegistMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistMServlet</servlet-name>
    <url-pattern>/RegistMServlet</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>DeleteMServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.DeleteMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMServlet</servlet-name>
    <url-pattern>/DeleteMServlet</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>ChangeMServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.ChangeMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMServlet</servlet-name>
    <url-pattern>/ChangeMServlet</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>CartInServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.CartInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartInServlet</servlet-name>
    <url-pattern>/CartInServlet</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>SerchServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.SerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerchServlet</servlet-name>
    <url-pattern>/SerchServlet</url-pattern>
  </servlet-mapping>


<servlet>
    <servlet-name>ItemViewServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.ItemViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemViewServlet</servlet-name>
    <url-pattern>/ItemViewServlet</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>



<servlet>
    <servlet-name>Cart_itemServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.Cart_itemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cart_itemServlet</servlet-name>
    <url-pattern>/Cart_itemServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Buy_ItemServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.Buy_ItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buy_ItemServlet</servlet-name>
    <url-pattern>/Buy_ItemServlet</url-pattern>
  </servlet-mapping>


    <servlet>
    <servlet-name>BuySuccesServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.BuySuccesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuySuccesServlet</servlet-name>
    <url-pattern>/BuySuccesServlet</url-pattern>
  </servlet-mapping>


    <servlet>
    <servlet-name>ItemDeleteServlet</servlet-name>
    <servlet-class>jp.co.aforce.servlets.ItemDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemDeleteServlet</servlet-name>
    <url-pattern>/ItemDeleteServlet</url-pattern>
  </servlet-mapping>





  <resource-ref>
  	<res-ref-name>jdbc/test</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>

</web-app>